<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
    <title>Edit</title>
</head>

<body>
    <%-include('../products/partials/header.ejs')%>
    <div class="editForm">
        <h1 class="editTitle">Edit</h1>
    <form class="editBox" action="/products/<%= product._id %>?_method=PUT" method="POST">
        <br></br>
        <input class="editInput" type="text" name="name" value="<%= product.name %>">
        <br></br>
        <textarea class="editTextArea" name="description" cols="20" rows="5"><%= product.description %></textarea>
        <br></br>
        <input class="editBtn" type="submit" value="update">
    <!-- </div> -->
    </form>
</div>
</body>
<%-include('../products/partials/footer.ejs')%>

</html>